.hidden {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.nav-list,
.contacts {
  display: none;
}

/*  logo  */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

/*   address  */

/*   menu  */
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }



  .nav-link.current {
    position: relative;
    margin: 0;
  }

  .nav-link.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contact-link:hover,
  .contact-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contact-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}



/*   hero   */

.hero {
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  text-align: center;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero/Dark1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/Dark.jpg');
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.hero-title {
  max-width: 216px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding: 16px 32px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/Dark-bg1.jpg');
  }
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/hero/Dark-bg.jpg');
    }
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  .hero-container {
    gap: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('/images/hero/people-office1.jpg');
  }
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('/images/hero/people-office.jpg');
    }
  }

  .hero-container {
    gap: 48px;
  }
}
/* features section */

.features {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-icon {
  display: none;
}

.features-item {
  display: flex;
  flex-direction: column;
}

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
   text-align: center;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
.feature-title {
  text-align: left;
}
}

@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    display: flex;
    flex-direction: column;
  }
  .features-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }
  .features-icon-svg {
    fill: #2e2f42;
  }
  .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
     
  }
}

/* light */

.light {
  background-color: #f4f4fd;
  padding: 96px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.light h2 {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-card {
  background-color: #ffffff;
  width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.team-info {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.team-social-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.social-link-wrapper {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-link svg {
  fill: #f4f4fd;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }

  .team-card {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .light {
    padding: 120px 0;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-card {
    width: calc((100% - 72px) / 4);
  }
}

/* portfolio */

.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-thumb {
  width: 100%;
  max-width: 360px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.portfolio-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left center;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay p {
  color: #f4f4fd;
  margin: 0;
  font-size: 16px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
    box-shadow:
      0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
     box-shadow: none;
  }
  .portfolio-item:hover {
    box-shadow:
      0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

/* footer  */


.footer {
  background-color: #2e2f42;
  padding:  0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.footer-container {
  max-width: 1140px; 
  margin: 0 auto;
  padding: 100px 16px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  box-sizing: border-box; 
}

.social-link-wrapper {
  display: flex;
 display: flex;
  justify-content: center;
  justify-content: center;
}


.footer-logo {
  display: flex;
  margin-bottom: 16px;
}

.logo-accent-footer {
  color: #ffffff;
}

.footer-text {
  max-width: 288px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
 
}
.footer-text-social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 0;
  padding-top: 72px;
}

.footer-logo-social,
.footer-text-social,
.footer-contact-info,
.footer-social {
 display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-link svg {
  fill: #f4f4fd;
}
.footer-contact-info {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-form {
  display: flex;
  flex-direction: column;
   align-items: center; 
  gap: 16px;
}

.footer-email {
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 16px 0;
}

.footer-email::placeholder {
  color: #ffffff;
}
.footer-email:hover,
.footer-email:focus {
  border-color: #31d0aa;
}

.footer-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding: 8px 24px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  width: 165px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 16px;
}

.footer-button-text {
  max-width: 77px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 0;
  text-align: center;
  color: #ffffff;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #31d0aa;
}

.footer-button-content {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}
.footer-button-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
}


@media screen and (min-width: 768px) {
  
  .footer-container {
   flex-direction: row;
   align-items: baseline;
   text-align: left;
   display: flex;
   flex-wrap: wrap;
   column-gap: 24px; 
   row-gap: 72px;
    align-items: flex-start;
    padding: 96px 108px;
  }

  .social-link-wrapper {
    justify-content: flex-start;
  }

  .footer-text {
    max-width: 264px;
    margin-bottom: 0;
  }

  .footer-form {
    flex-direction: row;
    align-items: flex-end;
    gap: 24px;
  }

  .footer-form-left {
    align-items: flex-start;
  }

  .footer-email {
    margin-top: 16px;
    width: 264px;
  }

  .footer-logo-social {
    text-align: left;
    align-self: flex-start;
    gap: 16px;
    margin: 0;
  }

  .social-link-wrapper {
    width: auto;
    justify-content: flex-start; /
  }

  .footer-social {
    display: block; 
    width: auto; 
    text-align: left; 
    align-self: flex-start; 
    padding-top: 0;
  }

  .contact-link{
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-button{
   padding: 8px 16px;
   margin: 16px 0;
  }

  .footer-logo {
   display: inline-block;
   margin-bottom: 16px;
  }

  .footer-logo-social, 
  .footer-text-social, 
  .footer-contact-info, 
  .footer-social {
    align-items: flex-start;
    text-align: left;
 }
}

@media screen and (min-width: 1158px) {
  
  .footer-container {
    display: flex;
    align-items: baseline;
    text-align: left;
    flex-wrap: nowrap; 
    gap: 0;
    padding: 100px 156px;
  }
  
  .social-link-wrapper {
    justify-content: flex-start;
  }

.footer-logo{
   margin-bottom: 0;
}

  .footer-logo-social {
    margin-right: 120px;
  }

 .footer-text-social {
    margin-right: 80px;  
  }

  .footer-contact-info {
    margin-right: 0;
  }

   .footer-text {
    width: 264px;
  }

  .footer-container {
    gap: 0;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* icon-close*/
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  cursor: pointer;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.2),
    0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12);

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* navigation menu*/
.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.nav-link {
}

.mobile-link.current {
  color: #404bbf;
}

.mobile-link {
  position: relative;
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-weight: 700;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-link:hover,
.mobile-link:focus,
.contact-link-mobile:hover,
.contact-link-mobile:focus {
  color: #404bbf;
}

/*  addressa menu  */

.contacts-mobile {
  font-style: normal;
  margin-left: 0;
}
.contacts-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.contacts-item:nth-child(2) .contact-link-mobile {
  color: #4d5ae5; 
  font-size: 36px;
  font-weight: 700;
}

.contact-link-mobile {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*  mobile-social  */

.mobile-social {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.mobile-social-list {
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}
.social-link-wrapper {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: #404bbf;
}

.mobile-social-link svg {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}



/*backdrop is-open"*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  cursor: pointer;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.2),
    0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12);

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper:focus-within .modal-icon,
.modal-input-cursor:focus-within .modal-icon {
  fill: #4d5ae5;
}

.modal-title {
  max-width: 360px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.modal-section {
  margin: 8px 0 0;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(142, 143, 153, 1);
  display: block;
   white-space: normal;
}

.form-label .modal-label {
  white-space: normal;
}

.modal-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  display: block;
  margin-top: 4px;
}

.modal-input-cursor {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 8px;
}

.modal-textarea:focus {
  outline: none;
  border-color: #4d5ae5;
}

/*fieldset*/

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid transparent;
}

.form-field {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
  max-width: 256px;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.modal-text {
  display: block;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-checkbox svg {
  opacity: 0;
  fill: #ffffff;
}
.form-checkbox {
  width: 16px;
  height: 16px;

  margin-right: 8px;
  cursor: pointer;
}
.form-checkbox:checked + .form-label .custom-checkbox {
  background-color: #404bbf;
  border-color: none;
  fill: #f4f4fd;
}

.form-checkbox:checked + .form-label .custom-checkbox svg {
  opacity: 1;
  fill: #ffffff;
}

.form-checkbox:focus + .form-label .custom-checkbox {
  border-color: #404bbf;
}

.form-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  flex-direction: column;
}

.modal-input:focus + .modal-icon,
.modal-input-wrapper:focus-within .modal-icon {
  fill: #404bbf;
}
.privasy-link {
  color: #4d5ae5;
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
  margin-left: 2px;
   display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  }

 .form-field {
    max-width: 360px;
    height: auto; /* ✔ */
    align-items: flex-start;
  }
/*
  .form-label {
    align-items: flex-start;
  }*/
.modal-label {
    display: inline;
    white-space: nowrap; /* ✔ один рядок */
  }

  .modal-text {
    display: inline;
  }

  .privasy-link {
    display: inline;
    margin-left: 4px;
  }

  .form-label {
    align-items: center;
  }

 .modal-label {
   letter-spacing: 0.04em;
 }
}

/* modal button */

.modal-button-wrapper {
  display: flex;
  justify-content: center;
}
.modal-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding: 16px 32px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  cursor: pointer;
  width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 24px 0 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}

.modal-text-btn {
  color: #ffffff;
  text-decoration: underline;
  margin: 0;
}
.checkbox-text-wrapper {
  display: flex;
  align-items: center;
}

.footer-button-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}